@import "partials/base";
@import "compass";

body {
  background-color: $main-color;
  text-align: center;
}
header {
  background-color: $h-color;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.logo {
  @include inline-block;

  background-color: $l-color;
  height: 60px;
  float: left;
  margin: 10px;
  width: 60px;
}
.user_menu {
  @include inline-block;

  background-color: $um-color;
  height: 20px;
  margin: 10px;
  float: right;
  width: 220px;
}
nav {
  background-color: $nav-color;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.site_menu {
  background-color: $sm-color;
  float: right;
  margin-top: -26px;
  width: 253px;

  ul {
    @include inline-block;

    li {
      float: left;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-top: 5px;
      &:last-child {
        padding-right: 5px;
      }
    }
  }
}
.navigation {
  @include inline-block;

  background-color: $n-color;
  float: left;
  height: 340px;
  width: 230px;
}
.content {
  @include inline-block;

  background-color: $c-color;
  float: right;
  height: 340px;
  width: 730px;
}
footer {
  background-color: $f-color;
  height: 195px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 960px;
    .list_wrapper {
        background-color: $l_w-color;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        width: 960px;
        .list {
          float: left;
          height: 70px;
          width: 240px;
    
          &.list_1 {
            background-color: $l_1-color;
          }
    
          &.list_2 {
            background-color: $l_2-color;
          }
    
          &.list_3 {
            background-color: $l_3-color;
          }
    
          &.list_4 {
            background-color: $l_4-color;
          }
        }
    }
  .f_logo {
  @include inline-block;

  background-color: $fl-color;
  height: 55px;
  margin-bottom: 10px;
  width: 55px;
  }
  .copyright {
  @include inline-block;

  background-color: $cop-color;
  height: 20px;
  margin-bottom: 10px;
  width: 480px;
  }
}
