@import "partials/base";
$default-border-radius: 10px;
@import "compass";
@import "compass/css3/images";

body {
  background-color: $main-color;
  text-align: center;
}
header {
  background-color: $h-color;
  height: 68px;
  margin-left: auto;
  margin-right: auto;
  width: $page-width;
}
.logo {
  @include inline-block;

  background: url("../images/svg/logo.svg") no-repeat;
  height: 48px;
  float: left;
  margin: 10px;
  width: 35px;
}
.user_menu {
  @include inline-block;
    
  float: right;
  
    ul {
      @include inline-block;
      @include border-bottom-left-radius;

      background-color: $um-color;

      li {
        float: left;
        overflow: hidden;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-top: 5px;
        
        &:last-child {
          padding-right: 5px;
        }
        &:hover {
          background-color: $l-color;
          &:first-child {
            @include border-bottom-left-radius;
          }
        }
      }
    }
}
nav {
  background-color: $nav-color;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  width: $page-width;
}
.site_menu {
  @include inline-block;

  background: transparent;
  margin-top: -26px;
  width: $page-width;
  
  ul {
    @include inline-block;
    @include border-top-left-radius;

    background-color: $um-color;
    float: right;
    li {
      float: left;
      overflow: hidden;
      padding-bottom: 5px;
      padding-left: 5px;
      padding-top: 5px;
      &:last-child {
        padding-right: 5px;
      }
      &:hover {
          background-color: $l-color;
          &:first-child {
            @include border-top-left-radius;
          }
        }
    }
  }
}
.navigation {
  @include inline-block;

  background-color: $n-color;
  float: left;
  height: 340px;
  margin-top: -5px;
  width: 230px;
}
.content {
  @include inline-block;

  background-color: $c-color;
  float: right;
  height: 340px;
  margin-top: -5px;
  width: 730px;
}
footer {
  background-color: $f-color;
  height: 195px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: $page-width;
    .list_wrapper {
        background-color: $l_w-color;
        height: 70px;
        margin-left: auto;
        margin-right: auto;
        width: $page-width;
        .list {
          float: left;
          height: 70px;
          width: 240px;
    
          &.list_1 {
            background-color: $l_1-color;
          }
    
          &.list_2 {
            background-color: $l_2-color;
          }
    
          &.list_3 {
            background-color: $l_3-color;
          }
    
          &.list_4 {
            background-color: $l_4-color;
          }
        }
    }
  .f_logo {
  @include inline-block;

  background-color: $fl-color;
  height: 55px;
  margin-bottom: 10px;
  width: 55px;
  }
  .copyright {
  @include inline-block;

  background-color: $cop-color;
  height: 20px;
  margin-bottom: 10px;
  width: 480px;
  }
}
