$main-color: red;
$h-color: blue;
$l-color: yellow;
$um-color: green;
$nav-color: pink;
$sm-color: violet;
$n-color: white;
$c-color: orange;
$f-color: brown;
$fl-color: gray;
$cop-color: purple;
$l_w-color: gold;
$l_1-color: lime;
$l_2-color: beige;
$l_3-color: crimson;
$l_4-color: silver;
$page-width:960px;
$footer-normal-height: 195px;
$footer-small-height: auto;
$footer-small-width: auto;