/* line 6, ../sass/style.scss */
body {
  background-color: red;
  text-align: center;
}

/* line 10, ../sass/style.scss */
header {
  background-color: blue;
  height: 68px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 17, ../sass/style.scss */
header .logo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: url("../images/svg/logo.svg") no-repeat;
  height: 48px;
  float: left;
  margin: 10px;
  width: 35px;
}
/* line 27, ../sass/style.scss */
header .user_menu {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: right;
}
/* line 32, ../sass/style.scss */
header .user_menu ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: green;
}
/* line 38, ../sass/style.scss */
header .user_menu ul li {
  float: left;
  overflow: hidden;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
/* line 45, ../sass/style.scss */
header .user_menu ul li:last-child {
  padding-right: 5px;
}
/* line 48, ../sass/style.scss */
header .user_menu ul li:hover {
  background-color: yellow;
}
/* line 50, ../sass/style.scss */
header .user_menu ul li:hover:first-child {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* line 58, ../sass/style.scss */
.site_menu {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: right;
  margin-top: -26px;
}
/* line 64, ../sass/style.scss */
.site_menu ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: green;
}
/* line 69, ../sass/style.scss */
.site_menu ul li {
  float: left;
  overflow: hidden;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
/* line 75, ../sass/style.scss */
.site_menu ul li:last-child {
  padding-right: 5px;
}
/* line 78, ../sass/style.scss */
.site_menu ul li:hover {
  background-color: yellow;
}
/* line 80, ../sass/style.scss */
.site_menu ul li:hover:first-child {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}

/* line 87, ../sass/style.scss */
.main_wrapper {
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 93, ../sass/style.scss */
.main_wrapper .navigation {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: white;
  float: left;
  height: 340px;
  width: 230px;
}
/* line 101, ../sass/style.scss */
.main_wrapper .content {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: orange;
  float: right;
  height: 340px;
  width: 730px;
}

/* line 110, ../sass/style.scss */
footer {
  background-color: brown;
  height: 195px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 960px;
}
/* line 117, ../sass/style.scss */
footer .list_wrapper {
  background-color: gold;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 123, ../sass/style.scss */
footer .list_wrapper .list {
  float: left;
  height: 70px;
  width: 240px;
}
/* line 128, ../sass/style.scss */
footer .list_wrapper .list.list_1 {
  background-color: lime;
}
/* line 132, ../sass/style.scss */
footer .list_wrapper .list.list_2 {
  background-color: beige;
}
/* line 136, ../sass/style.scss */
footer .list_wrapper .list.list_3 {
  background-color: crimson;
}
/* line 140, ../sass/style.scss */
footer .list_wrapper .list.list_4 {
  background-color: silver;
}
/* line 145, ../sass/style.scss */
footer .f_logo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: gray;
  height: 55px;
  margin-bottom: 10px;
  width: 55px;
}
/* line 153, ../sass/style.scss */
footer .copyright {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: purple;
  height: 20px;
  margin-bottom: 10px;
  width: 480px;
}
