/* line 5, ../sass/style.scss */
body {
  background-color: red;
  text-align: center;
}

/* line 9, ../sass/style.scss */
header {
  background-color: blue;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 16, ../sass/style.scss */
.logo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: yellow;
  height: 60px;
  float: left;
  margin: 10px;
  width: 60px;
}

/* line 25, ../sass/style.scss */
.user_menu {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  float: right;
}
/* line 30, ../sass/style.scss */
.user_menu ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: green;
}
/* line 36, ../sass/style.scss */
.user_menu ul li {
  float: left;
  overflow: hidden;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
/* line 43, ../sass/style.scss */
.user_menu ul li:last-child {
  padding-right: 5px;
}
/* line 46, ../sass/style.scss */
.user_menu ul li:hover {
  background-color: yellow;
}
/* line 48, ../sass/style.scss */
.user_menu ul li:hover:first-child {
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* line 55, ../sass/style.scss */
nav {
  background-color: pink;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 62, ../sass/style.scss */
.site_menu {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: transparent;
  margin-top: -26px;
  width: 960px;
}
/* line 69, ../sass/style.scss */
.site_menu ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: green;
  float: right;
}
/* line 75, ../sass/style.scss */
.site_menu ul li {
  float: left;
  overflow: hidden;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
}
/* line 81, ../sass/style.scss */
.site_menu ul li:last-child {
  padding-right: 5px;
}
/* line 84, ../sass/style.scss */
.site_menu ul li:hover {
  background-color: yellow;
}
/* line 86, ../sass/style.scss */
.site_menu ul li:hover:first-child {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}

/* line 93, ../sass/style.scss */
.navigation {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: white;
  float: left;
  height: 340px;
  margin-top: -5px;
  width: 230px;
}

/* line 102, ../sass/style.scss */
.content {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: orange;
  float: right;
  height: 340px;
  margin-top: -5px;
  width: 730px;
}

/* line 111, ../sass/style.scss */
footer {
  background-color: brown;
  height: 195px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 960px;
}
/* line 118, ../sass/style.scss */
footer .list_wrapper {
  background-color: gold;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
/* line 124, ../sass/style.scss */
footer .list_wrapper .list {
  float: left;
  height: 70px;
  width: 240px;
}
/* line 129, ../sass/style.scss */
footer .list_wrapper .list.list_1 {
  background-color: lime;
}
/* line 133, ../sass/style.scss */
footer .list_wrapper .list.list_2 {
  background-color: beige;
}
/* line 137, ../sass/style.scss */
footer .list_wrapper .list.list_3 {
  background-color: crimson;
}
/* line 141, ../sass/style.scss */
footer .list_wrapper .list.list_4 {
  background-color: silver;
}
/* line 146, ../sass/style.scss */
footer .f_logo {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: gray;
  height: 55px;
  margin-bottom: 10px;
  width: 55px;
}
/* line 154, ../sass/style.scss */
footer .copyright {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-color: purple;
  height: 20px;
  margin-bottom: 10px;
  width: 480px;
}
